@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* testblock */
.testblock_holder
{
    display: flex;
    flex-wrap: wrap;
}

.testblock
{
   width: 70px;
   height: 70px; 
   margin: 1px;
}

/* colors */
    .background-main
    {
        /* the main background color */
        background-color: #212026;
    }

    .background-alt
    {
        background-color: #A64C38;
    }

    .background-alt2
    {
        background-color: #73403c;
    }

    /* call to action text */
        .cta_txt
        {
            color: #f2a25c;
        }


        .cta_button
        {
            background-color: #f2a25c;
            flex-grow: 0;
            border-radius: 13px;
            box-sizing: border-box;
            padding: 2px;
            border-style: none;
            min-width: 12px;
            aspect-ratio: 16/9;
            margin-left: auto;
            margin-right: auto;
        }
        .cta_button:hover
        {
            background-color: #73403c;
        }

        .cta_button_txt
        {
            color: #212026;
        }

/* flex things */
.box
{
 aspect-ratio: 1/1;
 padding: 30px;  
 display: flex;
}

.box a,h2,p  
{
    text-align: center;
    color: #A64C38;
}

/* TODO  add a bunch of css class for this */

/* bootstrap overwrites */
.txt-normal
{
    color: #f27649;
}

.nav-txt:hover
{
    color: #73403c;
}

.txt
{
    font-family: 'Quicksand', sans-serif;
}

/* transformed text */
.l-side-txt
{
    transform: rotate(90deg);
}

.r-side-txt
{
    transform: rotate(-90deg);
}

.huge
{
    font-size: larger;
}

.txtbox
{
    display: flex;
}
.left-align
{
    justify-content: flex-start;
}

.right-align
{
    justify-content: flex-end;
}


.menu-block
{
    aspect-ratio: 1920/462;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100vw;
}

.nomargin
{
    margin: 0px;
}